*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, rgb(99, 69, 69), rgb(143, 189, 205));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.qr-container{
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

.qr-container h2{
    text-align: center;
    margin-bottom: 10px;
}

.qr-container #qr-input{
   display: block;
   margin-bottom: 10px;
   width: 100%;
   font-size: 16px;
   padding: 10px;
   border: 1px solid rgb(182, 174, 174);
   border-radius: 2px;
   outline: 0;
}

.qr-container #qr-input:hover{
    border: 1px solid rgb(16, 15, 15);
 }

.qr-container #qr-button{
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background: linear-gradient(45deg, rgb(99, 69, 69), rgb(143, 189, 205));
    color: wheat;
    cursor: pointer;
    border-radius: 2px;
}

.qr-container #qr-button:hover{
    background: linear-gradient(45deg, rgb(143, 189, 205), rgb(99, 69, 69));
}

.qr-container #qr-img{
   display: block;
   margin: 20px auto;
   width: 150px;
}